* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.page_title {
  width: 1000px;
  /* border-bottom: 1px solid gray; */
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  background-color: #f23d5e;
  color: white;
  font-size: 20px;
  font-weight: 900;
}
.home_page {
  padding: 50px;
}

.search_page {
  padding: 50px;
}

.QueryBuilderComponent {
  width: 800px;
  margin: 30px;
  font-family: "Jamsil";
}
.query_builder_title {
  color: #0e6973;
  font-weight: 900;
}

.searchBtn {
  margin: 10px;
  border-radius: 15px;
  border: none;
  width: 90px;
  height: 30px;
  cursor: pointer;
  background-color: #0e6973;
  color: white;
  font-weight: bold;
  /* font-family: "Anton"; */
  font-family: "Jamsil";
}

.searchBtn:hover {
  background-color: #f23d5e;
  font-weight: bold;
}

.image_list_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #f23d5e; */
  border: 1px solid gray;
  width: 900px;
  height: 600px;
  margin-top: 30px;
}
.image_list {
  cursor: pointer;
}

.movie_list_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
}

.movie_list {
  /* display: flex; */
  /* flex-wrap: wrap; */
  border: 1px solid gray;
  width: 200px;
  height: 280px;
  padding: 12px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.movie_detail_wrap {
  margin-top: 30px;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 20px;
  width: 500px;
  line-height: 30px;
}

.ruleGroup-body {
  display: grid;
  grid-template-columns: 1fr auto;
  /* align-items: center; */
}

@font-face {
  font-family: "Jamsil";
  src: url(../public/fonts/Jamsil.otf);
}

@font-face {
  font-family: "Bebas Neue", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
}

@font-face {
  font-family: "Anton", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
}
